<body style="background-color: #eeeeee">
<h1> Roasts and Boasts </h1>
<a href="/addpost/" style="border: 1px solid black; padding: 5px"> Click here to a Post a Boast or Roast</a>
<br>
<br>
<button style="padding:5px; border-radius:5px; width: 35px"> <a href="/">All</a></button>
<button style="padding:5px; border-radius:5px; width: 65px"> <a href="/boasts/">Boasts</a></button>
<button style="padding:5px; border-radius:5px; width: 65px"> <a href="/roasts/">Roasts</a></button>

<button style="padding:5px; border-radius:5px; width: 85px"><a href="{{ time }}">Most Recent</a></button>
<button style="padding:5px; border-radius:5px; width: 65px"><a href="{{ votes }}">By Votes</a></button>
<hr>
<br>
<br>
{% for post in posts %}
    {{ post.content }}
    {{ post.upvotes }}
    {{ post.downvotes }}

    <form method='POST' action="/upvote/">
        {% csrf_token %}
        <input type="hidden" value={{ post.id }} name="id"></input>
        <input type="submit" value="Upvote"></input>

    </form>
    <form method='POST' action="/downvote/">
        {% csrf_token %}
        <input type="hidden" value={{ post.id }} name="id"></input>
        <input type="submit" value="Downvote"></input>
    </form>
    <br>
    <hr>
{% endfor %}
</body>